html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#terminal-container {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .terminal {
    padding: 5px;
    height: calc(100% - 10px);
  }
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: normal;
  font-weight: normal;
  src: url("webfont/CaskaydiaMonoNerdFont-Regular.woff2") format('WOFF2');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: italic;
  font-weight: normal;
  src: url("webfont/CaskaydiaMonoNerdFont-Italic.woff2") format('WOFF2');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: normal;
  font-weight: bold;
  src: url("webfont/CaskaydiaMonoNerdFont-Bold.woff2") format('WOFF2');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: italic;
  font-weight: bold;
  src: url("webfont/CaskaydiaMonoNerdFont-BoldItalic.woff2") format('WOFF2');;
}
