html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#terminal-container {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .terminal {
    padding: 5px;
    height: calc(100% - 10px);
  }
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: normal;
  font-weight: normal;
  src: url("font/CaskaydiaMonoNerdFont-Regular.ttf") format('truetype');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: italic;
  font-weight: normal;
  src: url("font/CaskaydiaMonoNerdFont-Italic.ttf") format('truetype');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: normal;
  font-weight: bold;
  src: url("font/CaskaydiaMonoNerdFont-Bold.ttf") format('truetype');;
}

@font-face {
  font-family: 'CaskaydiaMono Nerd Font';
  font-style: italic;
  font-weight: bold;
  src: url("font/CaskaydiaMonoNerdFont-BoldItalic.ttf") format('truetype');;
}
