name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release (e.g., v1.2.3)'
        type: string
        required:  true


concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/backend.yml

  release:
    needs: [build]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: |
          mkdir build
          for file in ttyd.*/*; do
            target=$(echo $file | awk -F/ '{print $1}')
            [[ $file == *.exe ]] && target="$target.exe"
            mv $file build/$target
          done
          pushd build; sha256sum ttyd.* > SHA256SUMS; popd
      - uses: ncipollo/release-action@v1
        with:
          artifacts: build/*
          allowUpdates: true
          draft: true
