name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release (e.g., 1.2.3)"
        type: string
        required: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          [
            i686,
            x86_64,
            arm,
            armhf,
            aarch64,
            mips,
            mipsel,
            mips64,
            mips64el,
            s390x,
            win32,
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          run-install: false
      - env:
          GH_TOKEN: ${{github.token}}
        run: ./scripts/download-font.ps1
        shell: pwsh
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Run yarn install, check and build
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
          yarn install
          yarn run check
          yarn run build
        working-directory: html
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake build-essential cmake curl file libtool
      - name: Cross build (${{ matrix.target }})
        env:
          BUILD_TARGET: ${{ matrix.target }}
        run: ./scripts/cross-build.sh
      - uses: actions/upload-artifact@v4
        with:
          name: ttyd.${{ matrix.target }}
          path: build/ttyd*


  release:
    needs: [build]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: |
          mkdir build
          for file in ttyd.*/*; do
            target=$(echo $file | awk -F/ '{print $1}')
            [[ $file == *.exe ]] && target="$target.exe"
            mv $file build/$target
          done
          pushd build; sha256sum ttyd.* > SHA256SUMS; popd
      - uses: ncipollo/release-action@v1
        with:
          artifacts: build/*
          allowUpdates: true
          draft: true
          tag: ${{inputs.tag}}
